{% extends 'layout.twig'%}
{# ____________________________titre #}
{% block title %}
    <div class="name">
    <h1>{{compagny_Name}}</h1>
    <h2>Catch Phrase</h2>
    </div>
{% endblock %}
{# ____________________________resume #}
{% block resume %}
    <div class="resume">
    <p>At {{"compagny_Name"}}, we create {{product_Adjective}}<br> 
    {{product_Name}} made of {{product_Material}}</p>
    <p>Find out more on {{url}}</p>
    </div>
{% endblock %} 
{# ____________________________contact #}
{% block contact %}
<div class='contact'>
<div class="circle">
<img src={{profil_img}}/></div>
<h3>{{user_Name}}</h3>
<h4>{{job}}</h4>
<h4>Contact info</h4>
<p>{{email}}<br>
{{phone}}</p>
<br>
<p>13 rue vieille <br>
92500 Ville-nouvelle</p>
</div>
{% endblock %} 
{# ____________________________product #}
{% block product %}
<div class='product'>
<div class='rectangle'>
<img src={{product_img}}/></div>
<h2>{{product_Name}}</h2>
<p>Material : {{product_Material}}<br>
Color : {{color}}</p>
<h2>{{price}} $ only !</h2>
<button>Take my money</button>
</div>

{% endblock %}  
