main{
    display: flex;
    justify-content: space-between;
    /* border:2px solid red; */
}
/* ____________________________titre */
.name{
    text-align: center;
    color:grey;
}
 /* ____________________________resume */
.resume{
    /* border:1px solid black; */
    padding: 2%;
    width: 50%;
    height: 100px;
    margin-left: 40%;
    font-size: 20px;
}
 /* ____________________________contact  */
 .contact{
     /* border:1px solid black; */
     margin-right: 10%;
     padding: 2%;
     width: 20%;
     margin-right: 20%;
     font-size: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     text-align: center;
 }
 .circle{
     border:1px solid black;
     height: 150px;
     width: 150px;
     border-radius: 50%;
     

 }
 /* ____________________________product  */
 .product{
     border:2px solid black;
     margin-top: 5%;
     margin-left: 50%;
     width: 30%;
     height: 400px;
     display: flex;
     flex-direction:column;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 5px;
 }
 .rectangle{
    border:1px solid black; 
    width: 270px;
    height: 150px;
    

 }
 button{
     width: 60%;
     height: 50px;
 }
  /* ____________________________section  */
  section{
      /* border : 1px solid green; */
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;

  }
